<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tolv
    link(rel="stylesheet", href="css/styles.css")
    script(src="https://kit.fontawesome.com/37a6a87124.js" crossorigin="anonymous")
  body
    header
      nav
        ul
          li Products
          li Stockists
          li About us
      h1.logo
        | T
        div O
        | lV
      span 🔍
    main
      .hero
        .hero__img
        .hero__text
          h2 Lift the blind to let in the light. A moment of calm before the day begins.
          span
            | Featuring
            a(href="#") Cherry sofa
            | and
            a(href="#") Kile coffee table
      .banner
        h3.banner__title Time for Living
        p Take time for life’s little moments. Browsing the news as you eat breakfast. Setting the table for hungry guests. Sinking in to your favourite armchair. At Tolv, your daily rituals are at the heart of our design. We make furniture to give you your best day, every day.
        span Find out more 
        a(href="#") About us
      .gallery
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
        .gallery__item
